<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <filter>
    <filter-name>Authentication</filter-name>
    <filter-class>filter.Authentication</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Authentication</filter-name>
    <url-pattern>/EditArticle</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ArticleDetails</servlet-name>
    <servlet-class>controller.ArticleDetails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginProcess</servlet-name>
    <servlet-class>controller.LoginProcess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditArticle</servlet-name>
    <servlet-class>controller.EditArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PreEditArticle</servlet-name>
    <servlet-class>controller.PreEditArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleDetails</servlet-name>
    <url-pattern>/ArticleDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/LoginProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditArticle</servlet-name>
    <url-pattern>/EditArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreEditArticle</servlet-name>
    <url-pattern>/PreEditArticle</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>./view/Articles.jsp</welcome-file>
  </welcome-file-list>
</web-app>
